# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD
DB_NAME=ventas_temu

# Flask
SECRET_KEY=CAMBIA_ESTA_CLAVE

# Opcional para PostgreSQL administrado
# DATABASE_URL=postgresql://usuario:password@host:5432/ventas_temu
# DB_SSLMODE=require
